.banner-main {
    background: url("../images/bottom-bg.svg")no-repeat 0 100% /cover,
                url("../images/top-bg.svg")no-repeat 0 0 /cover;
  margin-bottom: 100px;
}
.top-slider {
  .slide {
    display: flex; justify-content: center; align-items: center;
    .banner-text {
      max-width: 590px;
      .description {
        line-height: 23px; font-size: 16px; letter-spacing: 0.08em; color: $color-white; max-width: 355px; margin-bottom: 50px;
      }
    }
  }
}
.block-profit {
  margin-bottom: 100px;
  .title-block {
    padding-bottom: 20px; position: relative; margin-bottom: 68px;
    &:after {
      content: ''; display: block; width: 93px; height: 3px; background: $color-purple; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
    }
  }
  .profits {
    max-width: 1300px; margin: 0 auto;
    .profit-item {
      text-align: center;
      .profit-time {
        width: 114px; height: 114px; border-radius: 50%; position: relative; background: $color-white; text-align: center; line-height: 114px; font-size: 38px;
        letter-spacing: -0.05em; color: $color-blue; font-weight: bold; display: inline-block; margin-bottom: 30px;
        &:after {
          content: ''; position: absolute; top: -5px; bottom: -5px; right: -5px; left: -5px; background: linear-gradient(94.47deg, #3826B0 -43.91%, #C86DD7 107.21%);z-index: -1; border-radius: inherit;
        }
      }
      .description {
        line-height: 26px; font-size: 20px; max-width: 250px; margin: 0 auto;
      }
    }
  }
}
.block-management {
  background: $color-gray url("../images/bg-managment.png")no-repeat 100% 50%; padding: 130px 0;
  .title-block {
    text-align: left; max-width: none; margin: 0 0 80px;
  }
  .description {
    display: flex; align-items: center; max-width: 580px; margin-bottom: 48px;
    .left-block, .right-block {
      font-size: 24px; color: $color-blue-t; font-weight: normal; text-transform: uppercase; text-align: center;
      span {
        display: block; font-weight: bold; font-size: 40px; line-height: 40px; margin-bottom: 5px;
      }
    }
    .separate {
      font-size: 45px; margin: 0 45px; color: rgba(27, 27, 40, 0.1); font-weight: bold;
    }
    .text {
      line-height: 25px; font-size: 17px; text-transform: uppercase; margin-left: 45px; font-weight: 500;
    }
  }
}
.block-vain {
 background:
         url("../images/bg-vain-2.png")no-repeat 0 100%,
            url("../images/bg-vain-1.png")no-repeat 0 100%,
            linear-gradient(180deg, #1A1A26 1.1%, #1E1E30 25.97%, #23233D 81.22%); padding: 120px 0; margin-bottom: 50px;
  .title-block {
    max-width: 685px; color: $color-white; margin: 0 auto 117px;
  }
  .vain-time {
    text-align: center; color: $color-white; line-height: 28px; font-size: 20px;
    .time {
      line-height: 58px; font-size: 41px; display: block; position: relative; padding-bottom: 20px; margin-bottom: 25px;
      &:after {
        content: ''; position: absolute; bottom: 0; width: 54px; height: 3px; background: #B06CD3; left: 50%; transform: translateX(-50%);
      }
    }
  }
}
.block-achive {
  .title-block {
    margin: 0 auto 50px;
  }
  .achives {
    .achives-item {
      text-align: center;
      .image {
        margin-bottom: 30px; display: inline-block; padding-left: 42px;
      }
      .description {
        line-height: 26px; font-size: 20px; max-width: 200px; margin: 0 auto; font-weight: bold; text-transform: uppercase;
      }
    }
  }
}