$color-white: #ffffff;
$color-black: #000000;
$color-blue: #1504e7;
$color-red: #de1922;
$color-text: #54515C;
$color-purple: #5F39BD;
$color-blue: #3927B1;
$color-blue-t: #3A28B2;
$color-border: #ebebeb;
$color-gray: #F5F5F5;
$color-border-red: #eb1f27;
$color-title: #262525;
$color-border-blue: #3e32d4;
$color-icon: #e0e1e3;
$color-gray-l: #dcdcdc;
$color-gray-text: #838383;
body {
  background: $color-white; color: $color-text;
}
blockquote {
  display: block; font-size: 20px; padding: 0 0 0 138px; position: relative; max-width: 630px; border: none; line-height: 28px; color: #1A1A27; opacity: .5;
  &:before {
    content: ''; display: block; position: absolute; top: 50%; left: 0; background: url("../images/quote.svg")no-repeat 0 0 /cover; width: 83px; height: 75px;
    transform: translateY(-50%);
  }
}
a {
  color: $color-text; transition: all .3s ease;
  &:hover, &:focus, &:active {
    color: $color-blue;
  }
}
main {
  flex: 0 1 auto; flex-basis: 100%;
}
footer {
  flex-shrink: 0;
}
sup {
  color: $color-red;
}
.row {
  margin: 0 -15px;
}
.red-text {
  color: $color-purple!important;
}
.blue-text {
  color: $color-blue!important;
}
.slick-loading .slick-list {
  background: none;
}
@include placeholder() {
  font-size: 14px; color: #6C6C6C;
}
.wrapper {
  max-width: 1560px; padding: 0 15px; margin: 0 auto;
}
.wrap {
  max-width: 1315px; margin: 0 auto;
}
.footer-wrap {
  max-width: 1360px; padding: 0 15px; margin: 0 auto;
}
/* BEGIN TITLE */
.title {
  line-height: 72px; font-size: 58px; color: $color-white; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); margin-bottom: 30px;
}
.title-block {
  line-height: 40px; font-size: 31px; text-transform: uppercase; text-align: center; max-width: 610px; margin: 0 auto; font-weight: bold;
  @media (max-width: 600px) {
    font-size: 25px; line-height: 35px;
  }
}
.title-block__inner {
  line-height: 11vw; font-size: 8vw; text-align: center; text-transform: uppercase; color: rgba($color-white, 0.04); position: relative; margin-bottom: 50px; font-weight: bold;
  span {
    line-height: 40px; font-size: 31px; text-align: center; text-transform: uppercase; color: $color-white; font-weight: bold; position: absolute;
    left: 50%; top: 20%; transform: translateX(-50%); padding-bottom: 20px; width: 100%;
    &:after {
      content: ''; display: block; width: 93px; height: 3px; background: $color-purple; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
    }
  }
}
/* END TITLE */
/** BEGIN BTN STYLE **/
.btn {
  border: 2px solid $color-white; border-radius: 26px; padding: 17px 58px; line-height: 20px; font-size: 15px; letter-spacing: 0.1em; text-transform: uppercase; height: auto;
  transition: all .3s ease; box-shadow: none; background: transparent; position: relative;
  &:hover, &:focus, &:active {
    box-shadow: inset 300px 0 0 0 $color-white; background: transparent;
    span {
      background: linear-gradient(94.47deg, #3826B0 -43.91%, #C86DD7 107.21%);
      -webkit-background-clip: text;
      color: transparent;
      transform: perspective(1px);
    }
  }
}

/** END BTN STYLE **/
/* BEGIN BREADCRUMBS */
.breadcrumbs {
  display: flex; font-size: 12px; margin-bottom: 70px;
  li {
    position: relative; color: $color-white;
    a, span {
      display: block; color: rgba($color-white, .6); transition: all .3s ease;
      &:hover, &:focus, &:active {
        color: $color-white;
      }
    }
    span {
      color: $color-white; transition: all .3s ease;
    }
    &:not(:last-child) {
      padding-right: 8px; margin-right: 4px;
      &:after {
        content: '-'; display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%); color: rgba($color-white, .6);
      }
    }
  }
  @media (max-width: 880px) {
    margin-bottom: 15px;
  }
}
/*END BREADCRUMBS */
.header-inner {
  .header-image {
    min-height: 647px; padding: 0 0 34%;
    @media (max-width: 880px) {
      min-height: 200px;
    }
  }
}
.header-contact {
  .header-image {
    padding: 0 0 31%;
  }
  .title {
    margin-bottom: 40px;
  }
  .breadcrumbs {
    margin-bottom: 40px;
  }
  @media (max-width: 1440px) {
    .title-annotation {
      font-size: 30px; line-height: 34px;
    }
  }
  @media (max-width: 1335px) {
    .title {
      margin-bottom: 20px;
    }
    .breadcrumbs {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 977px) {
    .block-annotation {
      display: none;
    }
  }
}
.feedback-homepage {
  background: $color-black; padding: 55px 0;
  .wrapper {
    max-width: 1200px;
  }
  @media (max-width: 767px) {
    padding: 25px 0;
  }
}
.title-footer {
  font-size: 20px; line-height: 30px; font-weight: normal; text-align: center; color: $color-white; max-width: 1120px; margin: 0 auto;
  span {
    display: block; font-size: 35px; font-weight: 500; line-height: 42px; margin-bottom: 22px;
  }
  .text {
    margin-bottom: 26px;
  }
  .btn {
    max-width: 176px; position: relative;
    &:before {
      content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; height: 100%; background: rgba($color-white, .2); opacity: 0; transition: all .3s ease;
    }
    &:hover, &:focus, &:active {
      background: $color-blue; color: $color-white;
      &:before {
        opacity: 1;
      }
    }
  }
  @media (max-width: 767px) {
    margin: 0 auto 15px auto; font-size: 14px; line-height: 16px;
    span {
      font-size: 20px;
      line-height: 28px;
    }
    .text {
      margin-bottom: 18px;
    }
  }
}
.block-offer.feedback-homepage {
  background: $color-blue;
}
/* STYLE FORM */
input,
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  background: $color-white; border: 1px solid #DEDEDE; box-sizing: border-box; border-radius: 5px; height: 46px; width: 100%; margin: 0 0 8px 0; padding-left: 50px;
}
textarea {
  border: 1px solid #DEDEDE; border-radius: 5px; min-height: 100px; padding: 15px; background: $color-white;
}
/* SLIDER STYLE */
 .slick-arrow {
   width: 82px; height: 82px; border-radius: 50%; background: linear-gradient(270deg, #3827B1 -13.41%, #B06CD3 100%); opacity: 1; top: 55%; transform: translateY(-50%);
   &:before {
     width: 16px; height: 30px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-indent: -9999px; opacity: 1;
   }
   &.slick-next {
     right: -12%;
     &:before {
       background: url("../images/icons/arrow-right.svg")no-repeat 0 0 /contain;
     }
   }
   &.slick-prev {
     left: -12%;
     &:before {
       background: url("../images/icons/arrow-left.svg")no-repeat 0 0 /contain;
     }
   }
   &:hover,&:focus, &:active {
     background: linear-gradient(270deg, #3827B1 -13.41%, #B06CD3 100%); opacity: 1;
   }
 }
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.form-group {
  &.has-error {
    input, textarea {
      border-color: #ff0d24;
    }
    @include placeholder() {
      color: #ff0d24;
    }
  }
}
.slick-dots {
  bottom: auto; left: auto; right: 0; top: 50%; width: auto;
  li {
    display: block; padding: 0; width: 6px; height: 6px; background: #ADADAD; margin: 0 auto; border-radius: 50%;
    button {
      &:before {
        content: none;
      }
    }
    &.slick-active {
       width: 10px; height: 10px; background: $color-white;
    }
    &:not(:last-child) {
      margin: 0 auto 20px;
    }
  }
}