footer
    .wrapper
        .logo-footer
            a(href="#")
                img(src="images/logo-footer.svg", alt="#")
        .social-links
            ul
                li
                    a(href="#", target="__blank")
                        img(src="images/icons/facebook.svg", alt="facebook")
                li
                    a(href="#", target="__blank")
                        img(src="images/icons/twitter.svg", alt="twitter")
                li
                    a(href="#", target="__blank")
                        img(src="images/icons/Linkedin.svg", alt="linkedin")
