<!--BEGIN HEADER-->
header
    .wrapper
        .header-top
            a(href="#").logo
                img(src="images/logo-footer.svg", alt="#")
            nav.main-menu
                ul
                    li
                        a(href="#") Essence
                    li
                        a(href="#") Features
                    li
                        a(href="#") Testimonials
                    li.active
                        a(href="#") Install
            .support
                a(href="#") Support: intelligent-speaker.com
                .hamburger.js-mobile-menu
                    i
                    i
                    i

<!--END HEADER-->