<!DOCTYPE html>
    include template/_head
    body
        include template/_header
        main
            .banner-main
                .wrapper
                    .top-slider.js-slider-top
                        .slide
                            .image
                                img(src="images/phone-slider.svg", alt="#")
                            .banner-text
                                .title Natural-sounding voice for your ultimate multitasking!
                                .description Effective Chrome extension with automatic text detection voices web, intranet  and local texts!
                                a(href="#").btn
                                    span Install now
                        .slide
                            .image
                                img(src="images/phone-slider.svg", alt="#")
                            .banner-text
                                .title Natural-sounding voice for your ultimate multitasking!
                                .description Effective Chrome extension with automatic text detection voices web, intranet  and local texts!
                                a(href="#").btn
                                    span Install now
                        .slide
                            .image
                                img(src="images/phone-slider.svg", alt="#")
                            .banner-text
                                .title Natural-sounding voice for your ultimate multitasking!
                                .description Effective Chrome extension with automatic text detection voices web, intranet  and local texts!
                                a(href="#").btn
                                    span Install now
                        .slide
                            .image
                                img(src="images/phone-slider.svg", alt="#")
                            .banner-text
                                .title Natural-sounding voice for your ultimate multitasking!
                                .description Effective Chrome extension with automatic text detection voices web, intranet  and local texts!
                                a(href="#").btn
                                    span Install now
            .block-profit
                .wrapper
                    .title-block multitasking is the key element of success and profit
                    .profits.row
                        .profit-item.col.l4
                            .profit-time 1s
                            .description One second can turn your future upside down
                        .profit-item.col.l4
                            .profit-time 1m
                            .description One minute may award you with once-in-a-lifetime opportunity
                        .profit-item.col.l4
                            .profit-time 1h
                            .description One hour can teach you the lesson you’ll forever appreciate
            .block-management
                .wrapper
                    .row
                        .col.l6
                            .title-block Time management is everything when it comes to balanced self-development
                            .description
                                .left-block
                                    span 1282
                                    | hours
                                .separate OR
                                .right-block
                                    span 50+
                                    | Days
                                .text.
                                    Every year you lose on solving various small tasks.
                            blockquote.
                                What if you could take advantage from every single second of your life?
            .block-vain
                .wrapper
                    .title-block Have you ever thought how much time of your life is wasted in vain?
                    .vain.row
                        .vain-time.col.l3
                            span.time 42 h
                            | Standing in a traffic jam
                        .vain-time.col.l3
                            span.time 72 h
                            | Bathing
                        .vain-time.col.l3
                            span.time 96 h
                            | Doing household chores
                        .vain-time.col.l3
                            span.time 144 h
                            | Exercising
            .block-achive
                .wrapper
                    .title-block What could you achieve if you had 1218 spare hours?
                    .achives.row
                        .achives-item.col.l3
                            .image(style="background: url('images/count-1.png')no-repeat 0 0 /contain")
                                img(src="images/icons/car.svg", alt="#")
                            .description.
                                Standing in a traffic jam
                        .achives-item.col.l3
                            .image(style="background: url('images/count-2.png')no-repeat 0 0 /contain")
                                img(src="images/icons/bathing.svg", alt="#")
                            .description.
                                Bathing
                        .achives-item.col.l3
                            .image(style="background: url('images/count-3.png')no-repeat 0 0 /contain")
                                img(src="images/icons/chores.svg", alt="#")
                            .description.
                                Doing household chores
                        .achives-item.col.l3
                            .image(style="background: url('images/count-4.png')no-repeat 0 0 /contain")
                                img(src="images/icons/exercising.svg", alt="#")
                            .description.
                                Exercising




        include template/_footer
        script(type='text/javascript', src='js/all-plugins.js')
        script(type='text/javascript', src='js/main.js')